{% extends "base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<div class="jumbotron">

	<h1>Data Entry Tool:</h1>

	<form action="{% url 'search_update_feedback' %}" method="GET">
		{{ form|crispy }}
		<button class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="Updates the database with the info provided above">
			Update and Fetch Info
		</button>
	</form>

	<br>

	<form action="{% url 'export_job_info_report' %}" method="GET">
		<button class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="Downloads the report below in .xlsx format">
			Download Report
		</button>
	</form>

	<br>

	<form action="{% url 'clear_report_info' %}" method="GET">
		<button class="btn btn-success" type="submit" data-toggle="tooltip" data-placement="right" title="Warning! You will lose all of the data below (does not affect database data)">
			Clear Report
		</button>
	</form>

</div>

<hr>

<table class="table table-striped table-hover">
	{% if job_info %}
	<tr>
		<th>Plentific Job Number</th>
		<th>WorkOrder Number</th>
		<th>Invoice Number Found</th>
		<th>Payments</th>
		<th>Job Number Exists</th>
	</tr>
	{% endif %}
	{% for d in job_info %}
		<tr>
			<td>{{ d.r_plentific_job_number }}</td>
			<td>{{ d.r_wo_number }}</td>
			<td>{{ d.r_invoice_number_found }}</td>
			<td>{{ d.r_payments }}</td>
			<td>{{ d.r_job_number_exists }}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}